# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.tlog
*.idb
*.pdb
*.log
*.exp
*.ilk
bin/drivers/sample/bin/win64/driver_sample.iobj
*.ipdb
src/.vs/driver_sample/v14/.suo
src/.vs/driver_sample/v14/.suo
src/.vs/driver_sample/v14/.suo
